.item1 { grid-area: header; }
.item2 { grid-area: income; }
.item3 { grid-area: expenses; }
.item4 { grid-area: kautkas; }
.item5 { grid-area: nz; }
.item6 { grid-area: gg; }

.grid-container {
  display: grid;
  grid-template-areas:
    'income header'
    'expenses header'
    'kautkas kautkas'
    'nz gg';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}